@charset "UTF-8";
/* Insert your custom CSS styles */

h2, .h2 {
    font-size: 22px;}

.header-main {position: relative;
    background-color: #ffffff;
    background: url("/sites/default/files/colombia-peace-sky.jpg") no-repeat center top;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;}

.header-top {background: #3781C5;}

footer.nd-region {
  background: #2e7ec7;
  color: #ffffff;
  padding-bottom: 10px !important;
  padding-top: 35px;
  border-top: 2px solid #fbb516;
}

.footer-copyright {
    border-top: none;
    background: #0f3a57;
    font-size: 11px;
    padding: 20px 0;
    color: #E2E2E2;
    font-style: italic;
}

h4,  .h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase!important;
}
footer .widget {
  margin-bottom: 30px;
  font-size: 13px;
}

div#block-3 {
    color: #000000;
}

.contacts-widget .contacts-info-list > li > .fa {
    width: 28px;
    height: 28px;
    line-height: 28px;
}

.contacts-widget .contacts-info-list > li {min-height: 22px;}

.nd-region.homenopad {
  padding-top: 5px;}


section.nd-region.section-siver {padding-top: 0px; padding-bottom: 0px;}

.header .logo {
    padding: 29px 0 10px 0;}

.nav-main {
    background: none;
   }

body {

    color: #363636;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    line-height: 22px; }

section.nd-region.section-yellow {
	margin: 0 -100% 20px -100%;
    padding: 35px 100% 25px 100%;
    background: #f6b232;
    overflow: hidden;}

.title-accent > h3 > span {font-size: 18px; font-family: 'Oswald', sans-serif;}

.page-heading {
    background: #0f425b;
    border-top: 5px solid #d4d4d4;
    border-bottom: 5px solid #d4d4d4;
    position: relative;
}

ul.team-social.list-unstyled {font-size: 14px;}

.social-links > li > a {
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  border: none;
}

footer .contacts-widget .contacts-info-list > li a:hover
{color: #0f3a57;}


@media (min-width: 992px) {
  .nav-main {
    background: none;

  }

  header.menu-pills .flexnav > li.active > a {
    color: #2f2f2f;

  }
  .flexnav > li:hover, .flexnav > li.active {
    background: rgba(255, 255, 255, 0.15)
  }
}
.people-email a {
  color: #D79D2F;
}
.section-latest-news {
  padding-top: 22px;
  padding-bottom: 43px;
}
.section-latest-news .project-item-inner {
  position: relative;
}
.section-latest-news .project-desc {
  bottom: 7px;
  left: 7px;
  right: 7px;
  z-index: 3;
  padding: 10px 12px;
  background: rgba(22, 54, 71, 0.73) !important;
  position: absolute;
}
.section-latest-news .project-desc h4 a {
  color: #ffffff;
}
.section-latest-news .project-sum {
  padding: 0px 10px 0 10px;
}
.view-display-id-page_2 .project-item .dlink {
  width: 100%;
}
@media (max-width: 525px) {
  .header .logo img {
    width: 300px !important;
  }
}
.navbar-toggle {
  background: #0d4b66;
}
.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
  background: #13719a;
}

.social-links-footer .social-links-wrapper .social-links {
    display: inline-block;
    vertical-align: middle;
}
.social-links-footer .social-links-wrapper {
    padding-top: 10px;
}
@media (min-width: 768px) {
    .social-links-footer .social-links-wrapper {
        padding-top: 0;
    }
}
.social-links-footer {
    background: #2e7ec7;
    color: #ffffff;
    padding-bottom: 14px !important;
    font-size: 13px;
}
.social-links > li > a:hover {
  background: rgba(255, 255, 255, 0.05);
  color: #2f2f2f;
}

.footer-copyright a{
    color: #ffffff;
}
.footer-copyright a:hover {
    color: #c29d3a;
    text-decoration: none;
}
footer h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0 0 1em 0;
  color: #23527c;
  text-transform: uppercase;
}
.col-sm-6.col-md-4.moveleft {
    text-align: left;
    max-width: 426px;
    color: #ffffff;
    padding-left: 0px;
}
.section-latest-news .project-date {
	font-size: 12px;
	color: #81858a;
	font-style: italic;
	padding: 20px 10px 0 10px;
}
.view-id-resources ul {
  padding: 0;
}
.view-id-resources li.page-item{
  float: left;
  margin-right: 30px;
  width: 350px;
  list-style: none;
}
.view-id-resources .project-item .dlink {
  width: 100%;
}
.view-id-resources .project-desc {
  padding: 15px 20px;
  min-height: 75px;
  text-align: left;
}
.view-id-resources .project-item .project-item-inner {
  background: none;
}
.view-id-resources .project-date {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 5px;
}
#Content #sidebar {
  z-index: 9;
}
#Content #content {
  z-index: 10;
}
.widget-tag-cloud .tagcloud a {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #cecece;
    border-radius: 4px;
    margin: 0 3px 6px 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.view-related-videos .project-item .project-item-inner {
  background: none;
}
.view-related-videos .project-item .project-item-inner h4 a {
  color: #000000;
  text-decoration: none;
}
.translate-links {
  float: left;
}
